:host {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding-top: 0.5rem;
	gap: 2rem;

	> .snek-control {
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(2rem + 8px);
		padding: 0.5rem;
		background-color: var(--accent-background-color);
		border-radius: var(--mat-sys-corner-small, 4px);
	}
}
