:host {
	.snek-grid {
		display: flex;
		flex-flow: column nowrap;
		border: solid 2px var(--theme-color-disabled);
		border-radius: 5px;
	}

	.snek-grid-row {
		display: flex;
		flex-flow: row nowrap;
	}

	.snek-grid-node {
		width: 20px;
		height: 20px;

		> div {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			margin: 2px;
		}
	}
}
