<section class="snek-grid" *ngIf="snekGrid$ | async as snekGrid else noSnekSnek">
	<div class="snek-grid-row" *ngFor="let snekGridRow of snekGrid.grid">
		<div class="snek-grid-node" *ngFor="let snekGridNode of snekGridRow">
			<ng-container [ngSwitch]="snekGridNode.type">
				<div *ngSwitchCase="SnekGridNodeType.SNEK" [style.background-color]="'var(--theme-color-default)'"></div>
				<div *ngSwitchCase="SnekGridNodeType.FUD" [style.background-color]="'var(--theme-color-darkest)'"></div>
				<div *ngSwitchDefault></div>
			</ng-container>
		</div>
	</div>
</section>

<ng-template #noSnekSnek>
	<section>No Snek Snek...</section>
</ng-template>
