<base-dialog [configuration]="dialogConfiguration()">
	<main>
		<p><dyslexic-text text="
			Now let me get this straight.
			You’re telling me you see the background moving too?
			I thought that was a figment of <i>my</i> imagination.
		"/></p>

		<mat-divider/>

		<section class="background-demos">
			<background-demo [type]="BackgroundType.GRAIN"/>
			<background-demo [type]="BackgroundType.GLASS"/>
			<background-demo [type]="BackgroundType.GRID"/>
			<background-demo [type]="BackgroundType.BUBBLES"/>
		</section>

		<p><dyslexic-text text="
			It can be awfully dizzying. We can take a break from all that.
		"/></p>
		<mat-divider/>

		<section class="background-demos">
			<background-demo [type]="BackgroundType.BLANK"/>
			<background-demo [type]="BackgroundType.NONE"/>
		</section>

		@if (moving()) {
			<p><dyslexic-text text="Oh you want some more? Less?"/></p>

			<mat-slider showTickMarks color="primary" [min]="min" [max]="max" step="1">
				<input matSliderThumb [formControl]="amountControl"
					   (change)="setMovingBackgroundAmount()">
			</mat-slider>

		} @else if (gradient()) {
			<p class="finale"><dyslexic-text text="Really, this is more of a <i>paused</i> situation."/></p>

		} @else {
			<p class="finale"><dyslexic-text text="Good old ✨professional✨ aesthetic."/></p>
		}
	</main>
</base-dialog>
