:host {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	height: 100%;
	width: 100%;
	overflow: auto;

	mat-card {
		min-width: 300px;
		flex-grow: 1;
	}

	.project-stack {
		flex-basis: 15%;
	}

	svg {
		order: -1;
		height: 2.5rem;
		width: 2.5rem;
	}
}
