@use 'src/styles/mixins/page-layout' as *;

:host {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	overflow: hidden;

	h1 {
		text-align: center;
		text-decoration: underline;
		margin-bottom: 0;
	}

	.status-updates {
		@include page-layout();
	}
}
