:host {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	height: 100%;
	width: 100%;
	overflow: auto;

	.mat-card {
		min-width: 300px;
		flex-grow: 1;
	}

	.project-status {
		flex-basis: 15%;

		.mat-card-content {
			margin-top: 3rem;
		}
	}

	.mat-icon {
		order: -1;
		height: 2.5rem;
		width: 2.5rem;
	}
}
