<h1><dyslexic-text text="Gong Status Updates"/></h1>

<section class="status-updates">
	@for (statusUpdate of statusUpdates; track $index) {
		<mat-card>
			<mat-card-header>
				<mat-icon mat-card-avatar [svgIcon]="statusUpdate.svgIcon"/>

				<mat-card-title>
					<dyslexic-text [text]="statusUpdate.title"/>
				</mat-card-title>

				<mat-card-subtitle>{{ statusUpdate.date | date }}</mat-card-subtitle>
			</mat-card-header>

			@if (statusUpdate.imageUrl) {
				<img mat-card-image
					 [src]="statusUpdate.imageUrl"
					 [alt]="statusUpdate.imageAlt">
			}

			<mat-card-content>
				@for (paragraph of statusUpdate.paragraphs; track $index) {
					<p><dyslexic-text [text]="paragraph"/></p>
				}
			</mat-card-content>
		</mat-card>
	}
</section>
