:host {
	width: 20px;
	height: 20px;
	position: relative;

	> .mat-icon {
		color: var(--default-theme-color);
		width: 20px;
		height: 20px;

		&.right { transform: rotate(0deg); }
		&.down { transform: rotate(90deg); }
		&.left { transform: rotate(180deg); }
		&.up { transform: rotate(270deg); }
	}

	> .snek {
		background-color: var(--default-theme-color);
		width: 16px;
		height: 20px;
		border-radius: 0 0 50% 50%;
		display: none;
		position: absolute;
		top: 0;
		left: 0;

		&.up, &.down, &.left, &.right {
			display: block;
		}

		&.up {
			margin-top: -2px;
			margin-left: 2px;
		}

		&.right {
			transform: rotate(90deg);
			margin-left: 4px;
		}

		&.down {
			transform: rotate(180deg);
			margin-top: 2px;
			margin-left: 2px;
		}

		&.left {
			transform: rotate(270deg);
		}
	}

	> .fud {
		background-color: var(--darkest-theme-color);
		width: 16px;
		height: 16px;
		border-radius: 25%;
		margin: 2px;
	}
}
