<!-- Order buttons in reverse and use flex-direction: row-reverse so that submit button is the first button that gets tabbed to -->

@if (hasVisibleButtons()) {
	<mat-dialog-actions [class.has-cancel-button]="hasCancelButton()">

		<section class="footer-buttons">
			@if (hasSubmitButton()) {
				<base-dialog-footer-button [configuration]="submitButton()"/>
			}

			@for (extraButton of extraButtonsRight(); track $index) {
				<base-dialog-footer-button [configuration]="extraButton"/>
			}
		</section>

		<section class="footer-buttons">
			@for (extraButton of extraButtonsLeft(); track $index) {
				<base-dialog-footer-button [configuration]="extraButton"/>
			}

			@if (hasCancelButton()) {
				<base-dialog-footer-button [configuration]="cancelButton()"/>
			}
		</section>

	</mat-dialog-actions>
}
