:host .mat-mdc-dialog-actions {
	flex-flow: row-reverse nowrap;
	justify-content: space-between;
	border-top: 1px solid var(--dark-border-color);
	gap: 0.5rem;

	> .footer-buttons {
		display: flex;
		flex-flow: row-reverse nowrap;
		gap: 0.5rem;
	}

	button:disabled {
		cursor: not-allowed;
	}
}
