
html, body {
	height: 100%;
}

body {
	margin: 0;
}


a {
	color: var(--default-theme-color);
	text-decoration: none;

	&:hover {
		color: var(--darker-theme-color);
	}
}

.mat-icon {
	fill: currentColor;

	> svg {
		width: auto;
		max-width: 100%;
	}
}
