
mat-card {
	margin: 5rem;
	height: calc(100% - 12.5rem);
	overflow: hidden auto;

	mat-card-header {
		height: 0;
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 0;

		.mat-icon {
			order: -1;
			font-size: 2rem;
		}
	}
}

.mat-menu-content {
	> mat-slider {
		margin: 0 .5rem;
	}
}
