
.mat-menu-content {
	> mat-slider {
		margin: 0 .5rem;
	}
}

body.light-theme, body.dark-theme {
	mat-card.mat-card {
		background-image: linear-gradient(to top, var(--theme-color-selected), transparent);
	}
}

.mat-accordion {
	display: flex;
	flex-flow: column nowrap;
}

mat-expansion-panel.mat-expansion-panel {
	display: flex;
	flex-flow: column nowrap;
	min-height: 3em;

	.mat-expansion-panel-header {
		min-height: 3em;
		font-weight: 600;
	}

	.mat-expansion-panel-content {
		overflow: hidden auto;
		max-height: 100%;
	}
}
