:not(.default-scrollbars) {

	// Webkit Scrollbar Overrides
	&::-webkit-scrollbar {
		width: .5rem;
		height: .5rem;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-track {
		border-radius: 0.5rem;
		background-color: var(--theme-color-accent);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: .5rem;
		background-color: var(--theme-color-disabled);
		box-shadow: inset 0 0 0 var(--theme-color-contrast);
		transition: box-shadow 200ms;

		&:active {
			box-shadow: inset 0 0 1px var(--theme-color-contrast);
		}
	}

	// Firefox Scrollbar Overrides
	scrollbar-color: var(--theme-color-disabled) var(--theme-color-accent);
	scrollbar-width: thin;
}
