@use 'src/styles/mixins/page-layout' as *;
@use 'src/styles/mixins/spin' as *;

:host {
	@include page-layout(800px);

	.mat-icon {
		@include pulse(6s);
	}

	.mat-mdc-card-content {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		padding: 1rem;
	}
}
