snek-grid {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	width: max-content;
	user-select: none;
	touch-action: none;
	-webkit-tap-highlight-color: transparent;

	/* overwritten by host style */
	--snek-grid-size: 20px;

	canvas {
		border-radius: 3px;
	}
}
