:host {
	display: flex;
	align-items: center;
	gap: 3px;
	background-color: var(--accent-background-color);
	border: solid 3px var(--accent-background-color);
	border-radius: 2px;
	overflow: hidden;

	.digit {
		font-size: 1.25rem;
		font-family: var(--monospace-font);
		font-weight: var(--weight-semibold);
		background-color: var(--default-background-color);
		border: solid 1px var(--default-background-color);
		border-radius: 2px;
		width: 1.25rem;
		height: 2rem;
		text-align: center;
		overflow: hidden;
	}
}
