.dialog-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	gap: 1rem;

	.dialog-title {
		width: 100%;
		text-align: center;
		font-variant: small-caps;
		margin-bottom: 0;
	}
}
