@use '@angular/material' as mat;

.light-theme .mat-mdc-menu-panel {
	@include mat.menu-overrides((
		container-color: var(--default-background-color),
		container-shape: var(--mat-sys-corner-medium),
	));
}

.dark-theme .mat-mdc-menu-panel {
	@include mat.menu-overrides((
		container-color: var(--accent-background-color),
		container-shape: var(--mat-sys-corner-medium),
	));
}
