@use '@angular/material' as mat;

.mat-mdc-slide-toggle {
	@include mat.slide-toggle-overrides((
		track-outline-color: var(--disabled-text-color),

		unselected-handle-color: var(--disabled-text-color),
		unselected-hover-handle-color: var(--default-text-color),
		unselected-focus-handle-color: var(--default-text-color),
		unselected-pressed-handle-color: var(--default-text-color),

		unselected-icon-color: var(--accent-background-color),

		unselected-track-color: var(--accent-background-color),
		unselected-hover-track-color: var(--accent-background-color),
		unselected-focus-track-color: var(--accent-background-color),
		unselected-pressed-track-color: var(--accent-background-color),
	));
}
