@use '@angular/material' as mat;

.mat-mdc-card {
	@include mat.card-overrides((
		outlined-outline-color: currentColor,
		outlined-outline-width: 2px,
	));

	&.inset {
		@include mat.card-overrides((
			outlined-container-color: transparent,
			outlined-outline-width: 0,
		));
	}

	.mat-mdc-card-avatar {
		border-radius: unset;
		--icon-size: 40px;
	}

	.mat-mdc-card-header-text {
		margin-bottom: 16px;
		display: flex;
		flex-direction: column;
	}

	.mat-mdc-card-title {
		line-height: 24px;
		font-variant: small-caps;
	}

	.mat-mdc-card-subtitle {
		font-variant: small-caps;
	}
}
