@use '@angular/material' as mat;

.mat-mdc-button {
	&.neutral {
		@include mat.button-overrides((
			text-label-text-color: var(--default-text-color),

			text-ripple-color: var(--hover-background-color-transparent),
			text-state-layer-color: var(--disabled-background-color),
			text-hover-state-layer-opacity: 0.25,
			text-focus-state-layer-opacity: 0.25,
			text-pressed-state-layer-opacity: 0.25,
		));
	}
}

.mat-mdc-outlined-button {
	&.neutral {
		@include mat.button-overrides((
			outlined-label-text-color: var(--default-text-color),
			outlined-outline-color: var(--border-color),

			outlined-ripple-color: var(--hover-background-color-transparent),
			outlined-state-layer-color: var(--disabled-background-color),
			outlined-hover-state-layer-opacity: 0.25,
			outlined-focus-state-layer-opacity: 0.25,
			outlined-pressed-state-layer-opacity: 0.25,
		));
	}
}

.mat-mdc-unelevated-button {
	&.neutral {
		@include mat.button-overrides((
			filled-label-text-color: var(--dark-text-color),
			filled-container-color: var(--disabled-background-color),

			filled-ripple-color: var(--hover-background-color),
			filled-state-layer-color: var(--accent-background-color),
			filled-hover-state-layer-opacity: 0.25,
			filled-focus-state-layer-opacity: 0.25,
			filled-pressed-state-layer-opacity: 0.25,
		));
	}
}
