@use '@angular/material' as mat;

body {
	&:is(.tablet, .desktop) {
		--navigation-height: 64px;
	}

	&.mobile {
		--navigation-height: 56px;
	}
}

mat-toolbar.mat-toolbar {
	height: var(--navigation-height);
	@include mat.toolbar-overrides((
		container-background-color: transparent,
	))
}
