.mat-mdc-card {
	.mat-mdc-card-avatar {
		border-radius: unset;
		--icon-size: 40px;
	}

	.mat-mdc-card-header-text {
		margin-bottom: 16px;
		display: flex;
		align-items: center;
	}

	.mat-mdc-card-title {
		line-height: 24px;
	}
}
