<mat-toolbar>
	<button mat-icon-button>
		<mat-icon>menu</mat-icon>
	</button>

	<mat-divider [vertical]="true"></mat-divider>
	<div>inanity.io</div>
	<mat-divider [vertical]="true"></mat-divider>

	<button mat-icon-button [matMenuTriggerFor]="settings">
		<mat-icon>settings</mat-icon>
	</button>
</mat-toolbar>

<mat-menu #settings="matMenu">
	<button mat-menu-item (click)="$event.stopPropagation()">
		<mat-icon color="accent">stars</mat-icon>
		Mode
	</button>
	<button mat-menu-item [matMenuTriggerFor]="themes">
		<mat-icon color="primary">circle</mat-icon>
		Theme
	</button>
</mat-menu>

<mat-menu #themes="matMenu">
	<button mat-menu-item (click)="$event.stopPropagation()"
			*ngFor="let colorTheme of colorThemes">
		<mat-icon style="color: var({{colorTheme.colorDefault}})">circle</mat-icon>
		{{ colorTheme.displayName }} Theme
	</button>
</mat-menu>
