
:root {
	// Light Theme
	--light-theme-background: white;
	--light-theme-accent: whitesmoke;
	--light-theme-disabled: lightgrey;
	--light-theme-contrast: rgba(0,0,0,0.87);

	// Blue Theme Palette
	--blue-theme-lightest: #51d4ff;
	--blue-theme-lighter: #1ab4f5;
	--blue-theme-light: #00b3ee;
	--blue-theme-default: #039ddd;
	--blue-theme-dark: #0487cc;
	--blue-theme-darker: #047ec5;
	--blue-theme-darkest: #047ec5;

	// Green Theme Palette
	--theme-lightest-green: #70ee7a;
	--theme-lighter-green: #3cd070;
	--theme-light-green: #50c878;
	--theme-default-green: #3cb371;
	--theme-dark-green: #00a86b;
	--theme-darker-green: #009060;
	--theme-darkest-green: #00755e;
}
