
:root {
	// Blue Theme Palette
	--theme-lightest-blue: #51d4ff;
	--theme-lighter-blue: #1ab4f5;
	--theme-light-blue: #00b3ee;
	--theme-default-blue: #039ddd;
	--theme-dark-blue: #0487cc;
	--theme-darker-blue: #047ec5;
	--theme-darkest-blue: #047ec5;

	// Green Theme Palette
	--theme-lightest-green: #70ee7a;
	--theme-lighter-green: #3cd070;
	--theme-light-green: #50c878;
	--theme-default-green: #3cb371;
	--theme-dark-green: #00a86b;
	--theme-darker-green: #009060;
	--theme-darkest-green: #00755e;
}
