/* Cooper Regular */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper Regular Italic */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper Medium */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper Medium Italic */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper SemiBold */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper SemiBold Italic */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper Bold */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper Bold Italic */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper Extra Bold */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper Extra Bold Italic */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper Black */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	size-adjust: 112.5%;
}

/* Cooper Black Italic */
@font-face {
	font-family: 'Cooper';
	src: url('/assets/fonts/cooper/Cooper-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	size-adjust: 112.5%;
}
