/* EB Garamond Initials Regular */
@font-face {
	font-family: 'EB Garamond Initials';
	src: url('/assets/fonts/eb-garamond-initials/EBGaramond-Initials.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
