/* Open Arrow */
@font-face {
	font-family: 'open-arrow';
	src: url('/assets/fonts/open-arrow/OpenArrow-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+2190-21ff;
}
