
<malbolge-specification></malbolge-specification>

<mat-card class="malbolge-interpreter">
	<mat-card-header>
		<mat-icon [svgIcon]="OniIcon"></mat-icon>
		<mat-card-title>
			<dyslexic-text [text]="'Abandon all hope, ye who enter here.'"></dyslexic-text>
		</mat-card-title>
	</mat-card-header>

	<img mat-card-image alt="Gustave Doré - Dante Alighieri - Inferno - Plate 65 (Canto XXXI - The Titans)"
		 src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Gustave_Dor%C3%A9_-_Dante_Alighieri_-_Inferno_-_Plate_65_%28Canto_XXXI_-_The_Titans%29.jpg/1024px-Gustave_Dor%C3%A9_-_Dante_Alighieri_-_Inferno_-_Plate_65_%28Canto_XXXI_-_The_Titans%29.jpg">
</mat-card>
