:host {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	height: 100%;
	width: 100%;
	overflow: auto;

	.malbolge-specification {
		flex-basis: 15%;
	}

	svg {
		order: -1;
		height: 2.5rem;
		width: 2.5rem;
	}
}
