<mat-card>
	<mat-card-header>
		<mat-card-title>
			<dyslexic-text text="NATHANIEL HOLDEN"></dyslexic-text>
		</mat-card-title>
	</mat-card-header>

	<img mat-card-image
		 src="assets/images/climbing_the_castle.jpg"
		 alt="climbing the face of the castle"/>
</mat-card>

<mat-card>
	<mat-card-header>
		<mat-card-title>
			<dyslexic-text text="ABOUT"></dyslexic-text>
		</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<span>&#123;</span>

		<small>name:</small>
		<dyslexic-text text="Nathaniel Holden"></dyslexic-text>

		<small>title:</small>
		<dyslexic-text text="Software Engineer"></dyslexic-text>

		<small>location:</small>
		<dyslexic-text text="Denver, CO"></dyslexic-text>

		<span>&#125;</span>
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-header>
		<mat-card-title>
			<dyslexic-text text="CONTACT"></dyslexic-text>
		</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<span>&#123;</span>

		<small>email:</small>
		<a href="mailto:holden@inanity.io">
			<dyslexic-text text="holden@inanity.io"></dyslexic-text>
		</a>

		<span>&#125;</span>
	</mat-card-content>
</mat-card>
