<mat-card>
	<mat-card-header>
		<img mat-card-avatar
			 src="https://lh3.googleusercontent.com/a-/AOh14GjpIqEggqEXg631mIKBfdJ6mne8ZWgcG8HgILWMQg=s0"
			 alt="Its me! Well, you probably don't think so, but I sure do.">
		<mat-card-title>
			<dyslexic-text text="About Me"></dyslexic-text>
		</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<span>&#123;</span>

		<small>name:</small>
		<dyslexic-text text="Nathaniel Holden"></dyslexic-text>

		<small>title:</small>
		<dyslexic-text text="Software Engineer"></dyslexic-text>

		<small>location:</small>
		<dyslexic-text text="Denver, CO"></dyslexic-text>

		<span>&#125;</span>
	</mat-card-content>
</mat-card>
