<mat-card class="about-me">
	<mat-card-header>
		<mat-card-title>
			<div mat-card-avatar title="Its me! Well, you probably don't think so, but I sure do."></div>
<!--			<img mat-card-image src="https://lh3.googleusercontent.com/a-/AOh14GjpIqEggqEXg631mIKBfdJ6mne8ZWgcG8HgILWMQg=s0"-->
<!--				 alt="Its me! Well, you probably don't think so, but I sure do.">-->
			<dyslexic-text [text]="'About Me'"></dyslexic-text>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>
			<dyslexic-text [text]="'I am a software engineer in upstate New York.'"></dyslexic-text>
		</p>
		<p>
			<dyslexic-text [text]="'When you hit the gong, it sends a message to an arduino listener that strikes the gong.'"></dyslexic-text>
		</p>
	</mat-card-content>
</mat-card>

<!--<mat-card>-->
<!--	<mat-card-header>-->
<!--		<mat-icon [svgIcon]="GongIcon"></mat-icon>-->
<!--		<mat-card-title>-->
<!--			<dyslexic-text [text]="'gong'" [suffix]="'.io'"></dyslexic-text>-->
<!--		</mat-card-title>-->
<!--	</mat-card-header>-->
<!--	<mat-card-content>-->
<!--		<img mat-card-image src="https://images.reverb.com/image/upload/s&#45;&#45;h6GEum9o&#45;&#45;/f_auto,t_large/v1580782954/kxhgkqs4mfgopbbpg43b.jpg"-->
<!--			 alt="Its me! Well, you probably don't think so, but I sure do.">-->
<!--		<p>-->
<!--			<dyslexic-text [text]="'The gong is real. It is a real gong.'"></dyslexic-text>-->
<!--		</p>-->
<!--		<p>-->
<!--			<dyslexic-text [text]="'When you hit the gong, it sends a message to an arduino listener that strikes the gong.'"></dyslexic-text>-->
<!--		</p>-->
<!--	</mat-card-content>-->
<!--</mat-card>-->
