@use 'src/styles/mixins/colors' as *;

:host {
	display: inline-flex;

	--icon-button-pad: 6px;
	--icon-button-size: calc(var(--icon-size) + 2 * 6px);

	> .mat-mdc-icon-button.fragment-anchor {
		padding: var(--icon-button-pad);
		--mdc-icon-button-state-layer-size: var(--icon-button-size);

		color: var(--disabled-text-color);
		@include color-transition(200ms);

		&:hover {
			color: var(--default-theme-color);
		}
	}
}

.mobile :host {
	margin-left: -1rem;
}

.tablet :host {
	margin-right: 0.5rem;
}

.desktop :host {
	margin-left: calc(-0.5rem - var(--icon-button-size));
	margin-right: 0.5rem;
}
