@use 'src/styles/mixins/content-layout' as *;
@use 'src/styles/variables/colors' as *;

markdown {
	display: block;
	@include content-layout;

	.hljs-keyword {
		color: var(--danger-color);
		font-weight: var(--weight-normal);
		font-style: italic;
	}

	.hljs-title {
		color: var(--warning-color);
		font-style: italic;
	}

	.hljs-string {
		color: var(--success-color);
	}

	.fragment-anchor {
		color: var(--lightest-theme-color);
		padding-right: 0.5rem;
		text-decoration: none;
		@include color-transition(200ms);

		&:hover {
			color: var(--default-theme-color);
			text-decoration: none;
		}
	}
}

.desktop markdown .fragment-anchor {
	position: absolute;
	left: calc(-0.5rem - var(--icon-size));
	color: transparent;

	&:hover {
		color: var(--default-theme-color);
		text-decoration: none;
	}
}
