:host {
	display: flex;
	flex-flow: column nowrap;

	.mat-sidenav-container {
		color: var(--dark-text-color);
		background-color: var(--lightest-theme-color);
		background-image: linear-gradient(to top, var(--default-background-color), transparent);

		.mat-sidenav {
			width: 17.5rem;
		}
	}
}

:host, .mat-sidenav-container, .mat-sidenav-content {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

