:host {
	display: flex;
	flex-flow: column nowrap;

	mat-sidenav-container {
		color: var(--theme-color-contrast);
		background-color: var(--theme-color-light);
		background-image: linear-gradient(to top, var(--theme-color-background), var(--theme-color-lightest));

		mat-sidenav {
			width: 15rem;
		}
	}
}

:host, mat-sidenav-container, mat-sidenav-content {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

