:host button.mat-mdc-outlined-button {
	border-color: var(--dark-border-color);
}

.light-theme :host button.mat-mdc-outlined-button {
	background-color: var(--default-background-color);
}

.dark-theme :host button.mat-mdc-outlined-button {
	background-color: var(--accent-background-color);
}
