:host {
	grid-row-end: span 2;

	&.large-format {
		grid-row-end: span 3;
	}

	.mat-mdc-card {
		&.inset {
			background-color: var(--default-background-color);
		}

		&.backdrop {
			border: solid 1px transparent;
		}

		&.inset.backdrop {
			border: none;

			.mat-mdc-card-image {
				border: solid 4px transparent;
				border-radius: 6px;
			}
		}

		.mat-mdc-card-header {
			position: absolute;
			width: 100%;
			z-index: 1;

			.mat-mdc-card-title {
				position: relative;
				padding: var(--padding-top) 0.5rem 0.25rem;
				margin-top: calc(-30px - var(--padding-top));
				margin-left: -0.5rem;
				border-radius: var(--border-radius);
				background-color: var(--default-background-color);
				font-weight: var(--weight-semibold);
				text-align: center;
				--padding-top: 0.25rem;
				--border-radius: 4px;
			}
		}

		.mat-mdc-card-image {
			border-radius: inherit;
		}

		.mat-mdc-card-content.content {
			display: grid;
			grid-template-columns: max-content auto;
			column-gap: 1.5rem;
			row-gap: 0.5rem;

			font-size: 1.25rem;
			line-height: 1.25rem;
			padding: 16px;

			> span, > small {
				grid-column: 1;
			}

			> small {
				margin-left: 1.5rem;
			}

			> dyslexic-text, > a {
				grid-column: 2;
			}
		}

		.mat-mdc-card-content.paragraphs {
			padding: 24px 16px;
			font-size: 16px;

			p:first-of-type {
				--initial-size: 55px;

				&:first-letter {
					color: var(--default-text-color);
					font-family: var(--initial-font);
					font-weight: var(--weight-normal);
					font-size: var(--initial-size);
					line-height: var(--initial-size);
					padding-right: 3px;
					float: left;
					text-indent: 0;
				}
			}
		}
	}
}

.desktop :host.large-format {
	grid-row-end: span 5;
	grid-column-end: span 2;
}

.mobile :host .mat-mdc-card .mat-mdc-card-header .mat-mdc-card-title {
	--padding-top: 0px;
}
