<mat-card>
	<mat-card-header>
		<mat-card-title>
			<dyslexic-text [text]="data().title"></dyslexic-text>
		</mat-card-title>
	</mat-card-header>

	@if (data().image; as image) {
		<img mat-card-image
			 [src]="image.src"
			 [alt]="image.alt"/>
	}

	@if (data().content) {
		<mat-card-content>
			<span>{{ openBrace() }}</span>

			@for (content of data().content; track $index) {
				<small><i>{{ content.title }}</i>:</small>

				@if (content.linked) {
					<a [href]="'mailto:'+ content.value">
						<dyslexic-text [text]="content.value"/>
					</a>
				} @else {
					<dyslexic-text [text]="content.value"/>
				}
			}

			<span>{{ closeBrace() }}</span>
		</mat-card-content>
	}
</mat-card>
