<mat-card [class.inset]="largeFormat()" [class.backdrop]="backdrop()">
	@if (data().title) {
		<mat-card-header>
			<mat-card-title>
				<dyslexic-text [text]="data().title"></dyslexic-text>
			</mat-card-title>
		</mat-card-header>
	}

	@if (data().image; as image) {
		<img mat-card-image
			 [ngSrc]="image.src"
			 [ngSrcset]="imageSrcset()"
			 [loaderParams]="{ originalWidth: image.width }"
			 [alt]="image.alt"
			 [width]="image.width"
			 [height]="image.height"
			 placeholder
			 priority/>
	}

	@if (data().content) {
		<mat-card-content class="content">
			<span>{{ openBrace() }}</span>

			@for (content of data().content; track $index) {
				<small><i>{{ content.title }}:</i></small>

				@if (content.linked) {
					<a [href]="'mailto:'+ content.value">
						<dyslexic-text [text]="content.value"/>
					</a>
				} @else {
					<dyslexic-text [text]="content.value"/>
				}
			}

			<span>{{ closeBrace() }}</span>
		</mat-card-content>
	}

	@if (data().paragraphs) {
		<mat-card-content class="paragraphs">
			@for (paragraph of data().paragraphs; track $index) {
				<p><dyslexic-text [text]="paragraph"/></p>
			}
		</mat-card-content>
	}
</mat-card>
