:host {
	.mat-mdc-card {
		overflow: visible;

		.mat-mdc-card-header {
			position: absolute;
			width: 100%;
			z-index: 1;

			.mat-mdc-card-title {
				margin-top: -1.75rem;
				font-weight: bold;
				text-align: center;
			}
		}

		.mat-mdc-card-image {
			border-radius: inherit;
		}

		.mat-mdc-card-content {
			display: grid;
			grid-template-columns: max-content auto;
			column-gap: 1.5rem;
			row-gap: 0.5rem;

			font-size: 1.25rem;
			line-height: 1.25rem;
			padding: 16px;

			> span, > small {
				grid-column: 1;
			}

			> small {
				margin-left: 1.5rem;
			}

			> dyslexic-text, > a {
				grid-column: 2;
			}
		}
	}
}
