:host {
	> mat-card {
		max-width: 800px;
		margin: 5rem auto;

		> .mat-card-header {

			> mat-icon {
				order: -1;
				height: 2.5rem;
				width: 2.5rem;

				animation-name: ckw;
				animation-duration: 5s;
				animation-iteration-count: infinite;
				transform-origin: 50% 50%;
			}
		}

		> mat-card-content {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
			padding: 4rem;
		}
	}
}

@keyframes ckw {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
