
:root {
	// Light Theme [Light]
	--light-theme-background: white;
	--light-theme-accent: whitesmoke;
	--light-theme-disabled: lightgrey;
	--light-theme-contrast: rgba(0, 0, 0, 0.87);

	// Dark Theme [Dark]
	--dark-theme-background: #212121;
	--dark-theme-accent: #424242;
	--dark-theme-disabled: #636363;
	--dark-theme-contrast: white;

	// Blue Palette [Aqua]
	--blue-theme-lightest: #51d4ff;
	--blue-theme-lighter: #1ab4f5;
	--blue-theme-light: #00b3ee;
	--blue-theme-default: #039ddd;
	--blue-theme-dark: #0487cc;
	--blue-theme-darker: #047ec5;
	--blue-theme-darkest: #036ea6;

	// Green Palette [Moss]
	--green-theme-lightest: #70ee7a;
	--green-theme-lighter: #3cd070;
	--green-theme-light: #50c878;
	--green-theme-default: #3cb371;
	--green-theme-dark: #00a86b;
	--green-theme-darker: #009060;
	--green-theme-darkest: #00755e;

	// Pink Palette [Flamingo]
	--pink-theme-lightest: #fdb4c8;
	--pink-theme-lighter: #fda1ba;
	--pink-theme-light: #fc8eac;
	--pink-theme-default: #fb7b9e;
	--pink-theme-dark: #fa4274;
	--pink-theme-darker: #f92e66;
	--pink-theme-darkest: #d4063e;

	// Orange Palette [Combustion]
	--orange-theme-lightest: #ffe808;
	--orange-theme-lighter: #ffcc00;
	--orange-theme-light: #ffa812;
	--orange-theme-default: #ff7f00;
	--orange-theme-dark: #f94d00;
	--orange-theme-darker: #e62020;
	--orange-theme-darkest: #c90016;
}
