@use '@angular/material' as mat;

/**
 * Color Palette Generator
 * These methods mimic the result of the mat-palette function
 * The resulting palettes, however, contain css member values as defined in colors.scss
 */
@function color-palette($default, $lighter, $darker, $contrast) {
	$palette: (
		default: $default,
		lighter: $lighter,
		darker: $darker,
		text: $default,
		default-contrast: $contrast,
		lighter-contrast: $contrast,
		darker-contrast: $contrast,
	);

	@return $palette;
}

// from Lighter Backgrounds with Darker Contrasts
@function light-palette($default, $lighter, $darker) {
	@return color-palette($default, $lighter, $darker, var(--dark-text-color));
}

// from Darker Backgrounds with Lighter Contrasts
@function dark-palette($default, $lighter, $darker) {
	@return color-palette($default, $lighter, $darker, var(--light-text-color));
}


$primary-palette: dark-palette(
		var(--default-theme-color),
		var(--light-theme-color),
		var(--dark-theme-color),
);

$accent-palette: light-palette(
		var(--default-background-color),
		var(--accent-background-color),
		var(--disabled-background-color),
);

$warning-palette: mat.m2-define-palette(mat.$m2-red-palette);


$light-theme: mat.m2-define-light-theme($primary-palette, $accent-palette, $warning-palette);
$dark-theme: mat.m2-define-dark-theme($primary-palette, $accent-palette, $warning-palette);
