// Base Color Palettes
@import 'color-themes';

:root {
	--theme-color-background: var(--light-theme-background);
	--theme-color-accent: var(--light-theme-accent);
	--theme-color-disabled: var(--light-theme-disabled);
	--theme-color-contrast: var(--light-theme-contrast);

	--theme-color-lightest: var(--blue-theme-lightest);
	--theme-color-lighter: var(--blue-theme-lighter);
	--theme-color-light: var(--blue-theme-light);
	--theme-color-default: var(--blue-theme-default);
	--theme-color-dark: var(--blue-theme-dark);
	--theme-color-darker: var(--blue-theme-darker);
	--theme-color-darkest: var(--blue-theme-darkest);
}
