:root {
	// Light Theme Default Values
	--theme-color-background: white;
	--theme-color-accent: whitesmoke;
	--theme-color-disabled: lightgrey;
	--theme-color-contrast: rgba(0, 0, 0, 0.87);

	// Blue Palette Default Values
	--theme-color-lightest: #51d4ff;
	--theme-color-lighter: #1ab4f5;
	--theme-color-light: #00b3ee;
	--theme-color-default: #039ddd;
	--theme-color-dark: #0487cc;
	--theme-color-darker: #047ec5;
	--theme-color-darkest: #036ea6;
	--theme-color-selected: rgba(3, 157, 221, 0.25);
}

:not(.default-transition):not(.custom-transition) {
	transition-property: color, text-shadow, background-color, border-color, box-shadow, fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(.3642, 0, .6358, 1);
}
