@use 'src/styles/mixins/background' as background;

:host {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;

	&.gradient {
		@include background.gradient();
	}

	> canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	> h6 {
		display: flex;
		flex-flow: row nowrap;
		font-weight: var(--weight-medium);
		position: absolute;
		bottom: 0;
		right: 0.5rem;
	}
}
