:host {
	position: absolute;
	background-color: var(--lightest-theme-color);
	background-image: linear-gradient(to top, var(--default-background-color), transparent);
	width: 100%;
	height: calc(100% - var(--navigation-height));
	z-index: -1;

	> canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	> h6 {
		display: flex;
		flex-flow: row nowrap;
		font-weight: var(--weight-medium);
		position: absolute;
		bottom: 0;
		right: 0.5rem;
	}
}
