:host {
	display: flex;
	flex-flow: column nowrap;
	font-family: var(--typeface-name), var(--app-font);

	> h6 > a {
		color: inherit;
		cursor: default;
		text-decoration: none;
	}

	> a {
		color: inherit;
	}
}
