@use 'src/styles/mixins/spin' as *;

.mat-icon {
	&.state-idle {
		cursor: pointer;
	}

	&.state-active {
		cursor: default;
		animation: spin 1600ms infinite linear;
	}

	&.state-done {
		color: var(--success-color);
		cursor: default;
	}
}
