<base-dialog [configuration]="dialogConfiguration()">
	<main>
		@switch (authScreen()) {
		@case (AuthScreen.AUTH_SELECTION) {
			<section class="auth-options">
				<button mat-flat-button type="button"
						(click)="selectGoogleSignIn()">
					<mat-icon class="fill">G</mat-icon>
					<div class="auth-title">Sign in with Google</div>
				</button>

				<button mat-stroked-button class="neutral" type="button"
						(click)="selectEmailSignIn()">
					<mat-icon class="fill">email</mat-icon>
					<div class="auth-title">Sign in with Email</div>
				</button>
			</section>
		}
		@case (AuthScreen.EMAIL_AUTH) {
			<form>
				<mat-form-field>
					<mat-label>Email Address</mat-label>
					<input matInput type="text" autocomplete="off"
						   [formControl]="emailControl"/>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Password</mat-label>
					<input matInput type="text" autocomplete="off"
						   [formControl]="passwordControl"/>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Re-enter Password</mat-label>
					<input matInput type="text" autocomplete="off"
						   [formControl]="passwordControl"/>
				</mat-form-field>
			</form>
		}
		@case (AuthScreen.GOOGLE_AUTH) {
			<empty omitPadding>
				<h2>Google Authentication</h2>
				<p>Please submit the Google Authentication popup.</p>
			</empty>
		}
		@case (AuthScreen.SUCCESS) {
			You have successfully signed in.
		}
		@case (AuthScreen.FAILURE) {
			Yeah nah huh?
		}
		}
	</main>
</base-dialog>
