main {
	flex-flow: column nowrap;
	align-items: center;

	> .auth-options {
		display: flex;
		flex-flow: column nowrap;
		gap: 0.75rem;
		width: 75%;

		.auth-title {
			width: 10rem;
			font-family: var(--sans-serif-font);
			text-align: center;
		}
	}

	> form {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		gap: 1rem;
		width: 100%;

		> .mat-mdc-form-field {
			width: 100%;
		}
	}
}
