<form-dialog [configuration]="dialogConfiguration()">
	<main>
		@switch (authScreen()) {
		@case (AuthScreen.AUTH_SELECTION) {
			<section class="auth-options">
				<button mat-flat-button type="button"
						(click)="selectGoogleSignIn()">
					<mat-icon class="fill">G</mat-icon>
					<div class="auth-title">Sign in with Google</div>
				</button>

				<button mat-stroked-button class="neutral" type="button"
						(click)="selectEmailSignIn()">
					<mat-icon class="fill">email</mat-icon>
					<div class="auth-title">Sign in with Email</div>
				</button>
			</section>
		}
		@case (AuthScreen.GOOGLE_AUTH) {
			<empty omitPadding>
				<h2>Google Authentication</h2>
				<p>Please submit the Google Authentication popup.</p>
			</empty>
		}
		@case (AuthScreen.EMAIL_AUTH) {
			<email-input [emailControl]="emailControl"/>

			<a href="javascript:" (click)="forgotPassword()">Forgot your password?</a>
		}
		@case (AuthScreen.EMAIL_PASSWORD) {
			<password-input [passwordControl]="passwordControl"/>

			<a href="javascript:" (click)="forgotPassword()">Forgot your password?</a>
		}
		@case (AuthScreen.CONFIRM_PASSWORD) {
			<password-input [passwordControl]="passwordControl"/>
			<password-input [passwordControl]="confirmPasswordControl"/>
		}
		@case (AuthScreen.RECOVER_PASSWORD) {
			<email-input [emailControl]="emailControl"/>
		}
		@case (AuthScreen.SUCCESS) {
			You have successfully signed in.
		}
		@case (AuthScreen.FAILURE) {
			Yeah nah huh?
		}
		}
	</main>
</form-dialog>
