@mixin blur($size: 0.5rem, $duration: 200ms) {
	--blur-size: #{$size};

	-webkit-animation: blur $duration forwards;
	animation: blur $duration forwards;

	@-webkit-keyframes blur {
		from {
			backdrop-filter: blur(0px);
		}
		to {
			backdrop-filter: blur(var(--blur-size));
		}
	}

	@keyframes blur {
		from {
			backdrop-filter: blur(0px);
		}
		to {
			backdrop-filter: blur(var(--blur-size));
		}
	}
}
