@mixin demo-colors {
	/* Light Theme Default Colors */
	--info-color: #00627A;
	--success-color: #067D17;
	--warning-color: #C47233;
	--danger-color: #F50000;

	--default-background-color: white;
	--accent-background-color: whitesmoke;
	--disabled-background-color: lightgrey;

	--dark-text-color: rgba(0, 0, 0, 0.87);
	--default-text-color: #616f77;
	--disabled-text-color: #95a2a9;
	--light-text-color: #ffffff;

	--hover-background-color: #ebebeb;
	--hover-background-color-transparent: rgba(0, 0, 0, 0.08);

	--dark-border-color: lightgrey;
	--border-color: rgba(0, 0, 0, 0.10);

	--shadow-color: rgba(0, 0, 0, 0.20);

	/* Blue Palette Default Colors */
	--lightest-theme-color: #51d4ff;
	--lighter-theme-color: #1ab4f5;
	--light-theme-color: #00b3ee;
	--default-theme-color: #039ddd;
	--dark-theme-color: #0487cc;
	--darker-theme-color: #047ec5;
	--darkest-theme-color: #036ea6;

	--theme-color-000: darken(var(--darkest-theme-color), 100%);
	--theme-color-010: darken(var(--darkest-theme-color), 75%);
	--theme-color-020: darken(var(--darkest-theme-color), 50%);
	--theme-color-025: darken(var(--darkest-theme-color), 25%);
	--theme-color-030: var(--darkest-theme-color);
	--theme-color-035: var(--darker-theme-color);
	--theme-color-040: var(--dark-theme-color);
	--theme-color-050: var(--default-theme-color);
	--theme-color-060: var(--light-theme-color);
	--theme-color-070: var(--lighter-theme-color);
	--theme-color-080: var(--lightest-theme-color);
	--theme-color-090: lighten(var(--lightest-theme-color), 50%);
	--theme-color-095: lighten(var(--lightest-theme-color), 80%);
	--theme-color-098: lighten(var(--lightest-theme-color), 90%);
	--theme-color-099: lighten(var(--lightest-theme-color), 95%);
	--theme-color-100: lighten(var(--lightest-theme-color), 100%);

	--selected-background-color: rgb(205, 235, 248);
	--selected-background-color-transparent: rgba(3, 157, 221, 0.2);
}

@mixin color-transition($duration: 250ms) {
	transition-property: color, text-shadow, background-color, border-color, box-shadow, fill;
	transition-duration: $duration;
	transition-timing-function: cubic-bezier(.3642, 0, .6358, 1);
}
