@mixin demo-colors {
	/* Light Theme Default Colors */
	--info-color: #00627A;
	--success-color: #067D17;
	--warning-color: #C47233;
	--danger-color: #D00000;

	--default-background-color: white;
	--accent-background-color: whitesmoke;
	--disabled-background-color: lightgrey;

	--dark-text-color: rgba(0, 0, 0, 0.87);
	--default-text-color: #616f77;
	--disabled-text-color: #95a2a9;
	--light-text-color: #ffffff;

	--hover-background-color: #ebebeb;
	--hover-background-color-transparent: rgba(0, 0, 0, 0.08);

	--dark-border-color: lightgrey;
	--border-color: rgba(0, 0, 0, 0.10);

	--shadow-color: rgba(0, 0, 0, 0.20);

	/* Blue Palette Default Colors */
	--lightest-theme-color: #51d4ff;
	--lighter-theme-color: #1ab4f5;
	--light-theme-color: #00b3ee;
	--default-theme-color: #039ddd;
	--dark-theme-color: #0487cc;
	--darker-theme-color: #047ec5;
	--darkest-theme-color: #036ea6;

	/* M3 Palette Derived from Light Blue Theme */
	--theme-color-000: rgb(0, 0, 0);
	--theme-color-010: rgb(1, 22, 33);
	--theme-color-020: rgb(2, 55, 83);
	--theme-color-025: rgb(2, 83, 125);
	--theme-color-030: rgb(3, 110, 166);
	--theme-color-035: rgb(4, 126, 197);
	--theme-color-040: rgb(4, 135, 204);
	--theme-color-050: rgb(3, 157, 221);
	--theme-color-060: rgb(0, 179, 238);
	--theme-color-070: rgb(26, 180, 245);
	--theme-color-080: rgb(81, 212, 255);
	--theme-color-090: rgb(168, 234, 255);
	--theme-color-095: rgb(220, 246, 255);
	--theme-color-098: rgb(238, 251, 255);
	--theme-color-099: rgb(246, 253, 255);
	--theme-color-100: rgb(255, 255, 255);

	--selected-background-color: rgb(205, 235, 248);
	--selected-background-color-transparent: rgba(3, 157, 221, 0.2);
}

@mixin color-transition($duration: 250ms) {
	transition-property: color, text-shadow, background-color, border-color, box-shadow, fill;
	transition-duration: $duration;
	transition-timing-function: cubic-bezier(.3642, 0, .6358, 1);
}
