@mixin content-page {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
}

// add support for multi-column article at 1320px
@mixin flex-content-layout($content-gap) {
	width: calc(800px + 2 * $content-gap);
	max-width: 100%;
	padding: $content-gap;
}

@mixin content-layout {
	@media	(max-width: 659.98px) and (orientation: portrait),
			(max-width: 959.98px) and (orientation: landscape) {
		@include flex-content-layout(1rem);
	}

	@media	(min-width: 660px) and (max-width: 839.98px) and (orientation: portrait),
			(min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape) {
		@include flex-content-layout(1.5rem);
	}

	@media	(min-width: 840px) and (orientation: portrait),
			(min-width: 1280px) and (orientation: landscape) {
		@include flex-content-layout(3rem);
	}
}
