@mixin fade($duration: 2s) {
	-webkit-animation: fade $duration infinite cubic-bezier(.3642, 0, .6358, 1);
	animation: fade $duration infinite cubic-bezier(.3642, 0, .6358, 1);
}

@-webkit-keyframes fade {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@keyframes fade {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
