@mixin spin($duration: 2s) {
	-webkit-animation: spin $duration infinite linear;
	animation: spin $duration infinite linear;
}

@mixin pulse($duration: 2s, $steps: 8) {
	-webkit-animation: spin $duration infinite steps($steps);
	animation: spin $duration infinite steps($steps);
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
