:host {
	.sidebar-item {
		text-decoration: none;

		&.active-route .mat-mdc-card {
			background-color: var(--light-theme-color);

			&:hover {
				background-color: var(--light-theme-color);
			}
		}

		.mat-mdc-card {
			cursor: pointer;
			background-color: var(--lightest-theme-color);
			color: var(--dark-text-color);

			&:hover {
				background-color: var(--lighter-theme-color);
			}

			.mat-mdc-card-header {
				align-items: center;

				.mat-mdc-card-title {
					margin-bottom: 0;
				}
			}
		}
	}
}
