@use 'src/styles/mixins/selectable' as selectable;

:host {
	.sidebar-item {
		text-decoration: none;

		@include selectable.background(
			$background-class: '.mat-mdc-card',
		);

		.mat-mdc-card {
			cursor: pointer;
			border-color: var(--border-color);
			color: var(--dark-text-color);

			.mat-mdc-card-header {
				align-items: center;

				.mat-mdc-card-title {
					margin-bottom: 0;
				}
			}
		}
	}
}
