:host {
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	top: -1px;
	left: -1px;

	--snek-border: solid 2px var(--accent-background-color);
	--snek-border-radius: 4px;

	> .snek-border-left {
		border: var(--snek-border);
		border-radius: var(--snek-border-radius) 0 0 var(--snek-border-radius);
		border-right: none;
		width: calc(100% - 3 * var(--snek-grid-size) - 1px);
	}

	> .snek-border-right {
		border: var(--snek-border);
		border-radius: 0 var(--snek-border-radius) var(--snek-border-radius) 0;
		border-left: none;
		width: calc(var(--snek-grid-size) + 1px);
	}

	> .snek-border-text {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
		width: calc(2 * var(--snek-grid-size));
		height: calc(100% + 1px + 0.5em);
		font-size: 10px;

		> .snek-border-top {
			border-top: var(--snek-border);
			width: 100%;
		}

		> .snek-seed {
			font-family: var(--monospace-font);
			color: var(--disabled-text-color);
		}
	}
}
