.light-theme :host {
	--snek-border-color: var(--accent-background-color);
}

.dark-theme :host {
	--snek-border-color: var(--default-background-color);
}

:host {
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	top: -1px;
	left: -1px;

	--snek-border: solid 2px var(--snek-border-color);
	--snek-border-radius: 4px;

	> .border-left {
		border: var(--snek-border);
		border-radius: var(--snek-border-radius) 0 0 var(--snek-border-radius);
		border-right: none;
		width: calc(100% - 61px);
	}

	> .border-right {
		border: var(--snek-border);
		border-radius: 0 var(--snek-border-radius) var(--snek-border-radius) 0;
		border-left: none;
		width: 21px;
	}

	> .border-text {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
		width: 40px;
		height: calc(100% + 6px);

		> .border-top {
			border-top: var(--snek-border);
			width: 100%;
		}

		> .snek-seed {
			font-family: var(--monospace-font);
			color: var(--disabled-text-color);
			font-size: 10px;
		}
	}
}
