base-dialog {
	display: flex;
	flex-flow: column nowrap;
	max-height: calc(100vh - var(--navigation-height) - 1rem);
	overflow: hidden;

	> .dialog-body {
		flex: 1 1 auto;
		padding: 1rem;
		overflow: hidden auto;
		overflow-wrap: break-word;

		&.content-centered {
			text-align: center;
		}

		&.padding-omitted {
			padding: 0;
		}

		&.scrolling-omitted {
			overflow: hidden;
			display: flex;
			flex-direction: column;
		}

		> main {
			display: flex;
			flex-direction: column;
		}
	}
}
